* {
    box-sizing: border-box;
}

aside {
    position: fixed;
    top: 30px;
    border: solid 2px #000000;
    width: 585px;
}

main {
    width: 600px;
    position: relative;
    left: 600px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.todo-item {
    border: solid 2px #000000;
    margin: 30px 0 30px 15px;
}